{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Zadání</h1>
</div>

<div id="content">
    {control form}
    <a href="{plink Homepage:default}">Domů</a>
</div>

<style>

    
</style>
<script> 
    setInterval(
            function() {
				let date = new Date();
				$('#actual_time').val(date.toLocaleTimeString());
            },
    1000);
</script>
